header{


}

li a{
text-decoration: none;
background-color: white;
padding: 20px;
border-radius: 10px;
margin-left: auto;
font-size: 15px;
display: inline;
}

body{
  margin: 0;
}

input{
  width: 250px;
  display: inline;
  float: right;
}

}
li{
  display: inline;
}


ul{
  display: inline;
}

body{
  background-color: #e9e9e9
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 80%;
  margin: auto;
  padding: 10px;
}




#Tilbud{
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 80%;

}

.middelsak{
  grid-column: span 8;
  grid-row: span 4;
  padding: 5px 10px;
  font-size:
}

.navBar{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: rgb(145, 13, 43);
  line-height: 5vw;
  transition: 0.5s;
}

.navBarLink:hover{
  background-color: black;
  transition: 0.8s;
}

.navBarText{
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  transition: 0.5s;
  padding: 10px;
}

.navBarLink{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  transition: 0.5s;
  padding: 10px;
}

.nyhet{
  grid-column: span 2;
  grid-row: span 4;
  grid-gap: 9px;
  padding: 5px 10px;
  background-color: white;
}

.storsak{
  grid-column: span 8;
  grid-row: span 1;
  padding: 5px 10px;

}

#Search{
  height: 15px;
  margin-top: 45px;
}

#hjem{
  grid-column: 2;
}
