header{
  grid-template-columns: 10% 60%
  text-decoration: none;
  padding: 20px;
  width: auto;
  margin-left: auto;
  height: 100px;
  background-color: rgb(167, 26, 26);
}

li a{
text-decoration: none;
background-color: white;
padding: 20px;
border-radius: 10px;
margin-left: auto;
font-size: 15px;
display: inline;
}

body{
  margin: 0;
}

input{
  width: 250px;
  display: inline;
  float: right;
}

}
li{
  display: inline;
}


ul{
  display: inline;
}

body{
  background-color: #e9e9e9
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 9px;
}

#Tilbud{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.middelsak{
  grid-column: span 8;
  grid-row: span 3;
  padding: 5px 10px;
  font-size:
}



.nyhet{
  grid-column: span 2;
  grid-row: span 4;
  grid-gap: 9px;
  padding: 5px 10px;
  background-color: white;

}

.storsak{
  grid-column: span 3;
  grid-row: span 3;
  padding: 5px 10px;

}
